In [1]:
#Importing Library's
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Import dataset
vgsales = r"D:\School\SpringBoard-BAnderson1214\vgsales.csv"
game_sales = pd.read_csv(vgsales)
#check that data has loaded
game_sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
#check data types
game_sales.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [4]:
#initial info of data
game_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
#check for missing values
game_sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
#view rows with NaN values
rows_na = game_sales[game_sales.isnull().any(axis=1)]
print(rows_na)

        Rank                             Name Platform    Year         Genre  \
179      180                  Madden NFL 2004      PS2     NaN        Sports
377      378                 FIFA Soccer 2004      PS2     NaN        Sports
431      432       LEGO Batman: The Videogame      Wii     NaN        Action
470      471       wwe Smackdown vs. Raw 2006      PS2     NaN      Fighting
607      608                   Space Invaders     2600     NaN       Shooter
...      ...                              ...      ...     ...           ...
16427  16430                     Virtua Quest       GC     NaN  Role-Playing
16493  16496                       The Smurfs      3DS     NaN        Action
16494  16497  Legends of Oz: Dorothy's Return      3DS  2014.0        Puzzle
16543  16546           Driving Simulator 2011       PC  2011.0        Racing
16553  16556                   Bound By Flame     X360  2014.0  Role-Playing

                                    Publisher  NA_Sales  EU_Sales  JP_Sales  \
179                           Electronic Arts      4.26      0.26      0.01
377                           Electronic Arts      0.59      2.36      0.04
431    Warner Bros. Interactive Entertainment      1.86      1.02      0.00
470                                       NaN      1.57      1.02      0.00
607                                     Atari      2.36      0.14      0.00
...                                       ...       ...       ...       ...
16427                                 Unknown      0.01      0.00      0.00
16493                                 Unknown      0.00      0.01      0.00
16494                                     NaN      0.00      0.01      0.00
16543                                     NaN      0.00      0.01      0.00
16553                                     NaN      0.00      0.01      0.00

       Other_Sales  Global_Sales
179           0.71          5.23
377           0.51          3.49
431           0.29          3.17
470           0.41          3.00
607           0.03          2.53
...            ...           ...
16427         0.00          0.01
16493         0.00          0.01
16494         0.00          0.01
16543         0.00          0.01
16553         0.00          0.01

[307 rows x 11 columns]

In [7]:
#I have found missing values in release year as well as publisher.  
#The items with a missing publisher will be dropped.  
#I would like to know what will be affected if I were to drop the items with a missing year.
#subset platform to inspect missing values
platform_na = game_sales.loc[game_sales['Year'].isna()]
print(platform_na)

        Rank                         Name Platform  Year         Genre  \
179      180              Madden NFL 2004      PS2   NaN        Sports
377      378             FIFA Soccer 2004      PS2   NaN        Sports
431      432   LEGO Batman: The Videogame      Wii   NaN        Action
470      471   wwe Smackdown vs. Raw 2006      PS2   NaN      Fighting
607      608               Space Invaders     2600   NaN       Shooter
...      ...                          ...      ...   ...           ...
16307  16310                Freaky Flyers       GC   NaN        Racing
16327  16330                    Inversion       PC   NaN       Shooter
16366  16369  Hakuouki: Shinsengumi Kitan      PS3   NaN     Adventure
16427  16430                 Virtua Quest       GC   NaN  Role-Playing
16493  16496                   The Smurfs      3DS   NaN        Action

                                    Publisher  NA_Sales  EU_Sales  JP_Sales  \
179                           Electronic Arts      4.26      0.26      0.01
377                           Electronic Arts      0.59      2.36      0.04
431    Warner Bros. Interactive Entertainment      1.86      1.02      0.00
470                                       NaN      1.57      1.02      0.00
607                                     Atari      2.36      0.14      0.00
...                                       ...       ...       ...       ...
16307                                 Unknown      0.01      0.00      0.00
16327                      Namco Bandai Games      0.01      0.00      0.00
16366                                 Unknown      0.01      0.00      0.00
16427                                 Unknown      0.01      0.00      0.00
16493                                 Unknown      0.00      0.01      0.00

       Other_Sales  Global_Sales
179           0.71          5.23
377           0.51          3.49
431           0.29          3.17
470           0.41          3.00
607           0.03          2.53
...            ...           ...
16307         0.00          0.01
16327         0.00          0.01
16366         0.00          0.01
16427         0.00          0.01
16493         0.00          0.01

[271 rows x 11 columns]

In [8]:
print(game_sales['Platform'].value_counts())

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: count, dtype: int64

In [9]:
subset_na = game_sales[game_sales['Year'].isna()]
print(subset_na)

        Rank                         Name Platform  Year         Genre  \
179      180              Madden NFL 2004      PS2   NaN        Sports
377      378             FIFA Soccer 2004      PS2   NaN        Sports
431      432   LEGO Batman: The Videogame      Wii   NaN        Action
470      471   wwe Smackdown vs. Raw 2006      PS2   NaN      Fighting
607      608               Space Invaders     2600   NaN       Shooter
...      ...                          ...      ...   ...           ...
16307  16310                Freaky Flyers       GC   NaN        Racing
16327  16330                    Inversion       PC   NaN       Shooter
16366  16369  Hakuouki: Shinsengumi Kitan      PS3   NaN     Adventure
16427  16430                 Virtua Quest       GC   NaN  Role-Playing
16493  16496                   The Smurfs      3DS   NaN        Action

                                    Publisher  NA_Sales  EU_Sales  JP_Sales  \
179                           Electronic Arts      4.26      0.26      0.01
377                           Electronic Arts      0.59      2.36      0.04
431    Warner Bros. Interactive Entertainment      1.86      1.02      0.00
470                                       NaN      1.57      1.02      0.00
607                                     Atari      2.36      0.14      0.00
...                                       ...       ...       ...       ...
16307                                 Unknown      0.01      0.00      0.00
16327                      Namco Bandai Games      0.01      0.00      0.00
16366                                 Unknown      0.01      0.00      0.00
16427                                 Unknown      0.01      0.00      0.00
16493                                 Unknown      0.00      0.01      0.00

       Other_Sales  Global_Sales
179           0.71          5.23
377           0.51          3.49
431           0.29          3.17
470           0.41          3.00
607           0.03          2.53
...            ...           ...
16307         0.00          0.01
16327         0.00          0.01
16366         0.00          0.01
16427         0.00          0.01
16493         0.00          0.01

[271 rows x 11 columns]

In [10]:
# Get unique values from the 'Year' column and sort them
unique_years = game_sales['Year'].unique()
sorted_unique_years = sorted(unique_years)

# Print the sorted unique years
print(sorted_unique_years)

[1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, nan, 2016.0, 2017.0, 2020.0]

In [11]:
# Get unique publisher names
print(game_sales['Publisher'].unique())

['Nintendo' 'Microsoft Game Studios' 'Take-Two Interactive'
 'Sony Computer Entertainment' 'Activision' 'Ubisoft' 'Bethesda Softworks'
 'Electronic Arts' 'Sega' 'SquareSoft' 'Atari' '505 Games' 'Capcom'
 'GT Interactive' 'Konami Digital Entertainment'
 'Sony Computer Entertainment Europe' 'Square Enix' 'LucasArts'
 'Virgin Interactive' 'Warner Bros. Interactive Entertainment'
 'Universal Interactive' 'Eidos Interactive' 'RedOctane' 'Vivendi Games'
 'Enix Corporation' 'Namco Bandai Games' 'Palcom' 'Hasbro Interactive'
 'THQ' 'Fox Interactive' 'Acclaim Entertainment' 'MTV Games'
 'Disney Interactive Studios' nan 'Majesco Entertainment' 'Codemasters'
 'Red Orb' 'Level 5' 'Arena Entertainment' 'Midway Games' 'JVC'
 'Deep Silver' '989 Studios' 'NCSoft' 'UEP Systems' 'Parker Bros.' 'Maxis'
 'Imagic' 'Tecmo Koei' 'Valve Software' 'ASCII Entertainment' 'Mindscape'
 'Infogrames' 'Unknown' 'Square' 'Valve' 'Activision Value' 'Banpresto'
 'D3Publisher' 'Oxygen Interactive' 'Red Storm Entertainment'
 'Video System' 'Hello Games' 'Global Star' 'Gotham Games'
 'Westwood Studios' 'GungHo' 'Crave Entertainment' 'Hudson Soft' 'Coleco'
 'Rising Star Games' 'Atlus' 'TDK Mediactive' 'ASC Games' 'Zoo Games'
 'Accolade' 'Sony Online Entertainment' '3DO' 'RTL' 'Natsume'
 'Focus Home Interactive' 'Alchemist' 'Black Label Games'
 'SouthPeak Games' 'Mastertronic' 'Ocean' 'Zoo Digital Publishing'
 'Psygnosis' 'City Interactive' 'Empire Interactive' 'Success' 'Compile'
 'Russel' 'Taito' 'Agetec' 'GSP' 'Microprose' 'Play It'
 'Slightly Mad Studios' 'Tomy Corporation' 'Sammy Corporation'
 'Koch Media' 'Game Factory' 'Titus' 'Marvelous Entertainment' 'Genki'
 'Mojang' 'Pinnacle' 'CTO SpA' 'TalonSoft' 'Crystal Dynamics' 'SCi'
 'Quelle' 'mixi, Inc' 'Rage Software' 'Ubisoft Annecy' 'Scholastic Inc.'
 'Interplay' 'Mystique' 'ChunSoft' 'Square EA'
 '20th Century Fox Video Games' 'Avanquest Software'
 'Hudson Entertainment' 'Nordic Games' 'Men-A-Vision' 'Nobilis'
 'Big Ben Interactive' 'Touchstone' 'Spike' 'Jester Interactive'
 'Nippon Ichi Software' 'LEGO Media' 'Quest' 'Illusion Softworks'
 'Tigervision' 'Funbox Media' 'Rocket Company' 'Metro 3D'
 'Mattel Interactive' 'IE Institute' 'Rondomedia'
 'Sony Computer Entertainment America' 'Universal Gamex' 'Ghostlight'
 'Wizard Video Games' 'BMG Interactive Entertainment' 'PQube'
 'Trion Worlds' 'Laguna' 'Ignition Entertainment' 'Takara'
 'Kadokawa Shoten' 'Destineer' 'Enterbrain' 'Xseed Games' 'Imagineer'
 'System 3 Arcade Software' 'CPG Products' 'Aruze Corp' 'Gamebridge'
 'Midas Interactive Entertainment' 'Jaleco' 'Answer Software' 'XS Games'
 'Activision Blizzard' 'Pack In Soft' 'Rebellion' 'Xplosiv' 'Ultravision'
 'GameMill Entertainment' 'Wanadoo' 'NovaLogic' 'Telltale Games' 'Epoch'
 'BAM! Entertainment' 'Knowledge Adventure' 'Mastiff' 'Tetris Online'
 'Harmonix Music Systems' 'ESP' 'TYO' 'Telegames' 'Mud Duck Productions'
 'Screenlife' 'Pioneer LDC' 'Magical Company' 'Mentor Interactive' 'Kemco'
 'Human Entertainment' 'Avanquest' 'Data Age' 'Electronic Arts Victor'
 'Black Bean Games' 'Jack of All Games' '989 Sports' 'Takara Tomy'
 'Media Rings' 'Elf' 'Kalypso Media' 'Starfish' 'Zushi Games' 'Jorudan'
 'Destination Software, Inc' 'New' 'Brash Entertainment'
 'ITT Family Games' 'PopCap Games' 'Home Entertainment Suppliers'
 'Ackkstudios' 'Starpath Corp.' 'P2 Games' 'BPS' 'Gathering of Developers'
 'NewKidCo' 'Storm City Games' 'CokeM Interactive' 'CBS Electronics'
 'Magix' 'Marvelous Interactive' 'Nihon Falcom Corporation'
 'Wargaming.net' 'Angel Studios' 'Arc System Works' 'Playmates'
 'SNK Playmore' 'Hamster Corporation' 'From Software' 'Nippon Columbia'
 'Nichibutsu' 'Little Orbit' 'Conspiracy Entertainment'
 'DTP Entertainment' 'Hect' 'Mumbo Jumbo' 'Pacific Century Cyber Works'
 'Indie Games' 'Liquid Games' 'NEC' 'Axela' 'ArtDink' 'Sunsoft' 'Gust'
 'SNK' 'NEC Interchannel' 'FuRyu' 'Xing Entertainment' 'ValuSoft'
 'Victor Interactive' 'Detn8 Games' 'American Softworks' 'Nordcurrent'
 'Bomb' 'Falcom Corporation' 'AQ Interactive' 'CCP' 'Milestone S.r.l.'
 'Sears' 'JoWood Productions' 'Seta Corporation' 'On Demand' 'NCS' 'Aspyr'
 'Gremlin Interactive Ltd' 'Agatsuma Entertainment' 'Compile Heart'
 'Culture Brain' 'Mad Catz' 'Shogakukan' 'Merscom LLC'
 'Rebellion Developments' 'Nippon Telenet' 'TDK Core' 'bitComposer Games'
 'Foreign Media Games' 'Astragon' 'SSI' 'Kadokawa Games' 'Idea Factory'
 'Performance Designed Products' 'Asylum Entertainment' 'Core Design Ltd.'
 'PlayV' 'UFO Interactive' 'Idea Factory International'
 'Playlogic Game Factory' 'Essential Games' 'Adeline Software' 'Funcom'
 'Panther Software' 'Blast! Entertainment Ltd' 'Game Life' 'DSI Games'
 'Avalon Interactive' 'Popcorn Arcade' 'Neko Entertainment'
 'Vir2L Studios' 'Aques' 'Syscom' 'White Park Bay Software' 'System 3'
 'Vatical Entertainment' 'Daedalic' 'EA Games' 'Media Factory' 'Vic Tokai'
 'The Adventure Company' 'Game Arts' 'Broccoli' 'Acquire'
 'General Entertainment' 'Excalibur Publishing' 'Imadio'
 'Swing! Entertainment' 'Sony Music Entertainment' 'Aqua Plus'
 'Paradox Interactive' 'Hip Interactive' 'DreamCatcher Interactive'
 'Tripwire Interactive' 'Sting' 'Yacht Club Games' 'SCS Software'
 'Bigben Interactive' 'Havas Interactive' 'Slitherine Software' 'Graffiti'
 'Funsta' 'Telstar' 'U.S. Gold' 'DreamWorks Interactive'
 'Data Design Interactive' 'MTO' 'DHM Interactive' 'FunSoft' 'SPS'
 'Bohemia Interactive' 'Reef Entertainment' 'Tru Blu Entertainment' 'Moss'
 'T&E Soft' 'O-Games' 'Aksys Games' 'NDA Productions' 'Data East'
 'Time Warner Interactive' 'Gainax Network Systems' 'Daito'
 'O3 Entertainment' 'Gameloft' 'Xicat Interactive'
 'Simon & Schuster Interactive' 'Valcon Games' 'PopTop Software' 'TOHO'
 'HMH Interactive' '5pb' 'Cave' 'CDV Software Entertainment' 'Microids'
 'PM Studios' 'Paon' 'Micro Cabin' 'GameTek' 'Benesse' 'Type-Moon'
 'Enjoy Gaming ltd.' 'Asmik Corp' 'Interplay Productions'
 'Asmik Ace Entertainment' 'inXile Entertainment' 'Image Epoch'
 'Phantom EFX' 'Evolved Games' 'responDESIGN' 'Culture Publishers'
 'Griffin International' 'Hackberry' 'Hearty Robin' 'Nippon Amuse'
 'Origin Systems' 'Seventh Chord' 'Mitsui' 'Milestone' 'Abylight'
 'Flight-Plan' 'Glams' 'Locus' 'Warp' 'Daedalic Entertainment'
 'Alternative Software' 'Myelin Media' 'Mercury Games'
 'Irem Software Engineering' 'Sunrise Interactive' 'Elite'
 'Evolution Games' 'Tivola' 'Global A Entertainment' 'Edia' 'Athena'
 'Aria' 'Gamecock' 'Tommo' 'Altron' 'Happinet' 'iWin' 'Media Works'
 'Fortyfive' 'Revolution Software' 'Imax' 'Crimson Cow' '10TACLE Studios'
 'Groove Games' 'Pack-In-Video' 'Insomniac Games'
 'Ascaron Entertainment GmbH' 'Asgard' 'Ecole' 'Yumedia' 'Phenomedia'
 'HAL Laboratory' 'Grand Prix Games' 'DigiCube' 'Creative Core'
 'Kaga Create' 'WayForward Technologies' 'LSP Games' 'ASCII Media Works'
 'Coconuts Japan' 'Arika' 'Ertain' 'Marvel Entertainment' 'Prototype'
 'TopWare Interactive' 'Phantagram' '1C Company' 'The Learning Company'
 'TechnoSoft' 'Vap' 'Misawa' 'Tradewest' 'Team17 Software' 'Yeti' 'Pow'
 'Navarre Corp' 'MediaQuest' 'Max Five' 'Comfort'
 'Monte Christo Multimedia' 'Pony Canyon' 'Riverhillsoft' 'Summitsoft'
 'Milestone S.r.l' 'Playmore' 'MLB.com' 'Kool Kizz' 'Flashpoint Games'
 '49Games' 'Legacy Interactive' 'Alawar Entertainment' 'CyberFront'
 'Cloud Imperium Games Corporation' 'Societa' 'Virtual Play Games'
 'Interchannel' 'Sonnet' 'Experience Inc.' 'Zenrin' 'Iceberg Interactive'
 'Ivolgamus' '2D Boy' 'MC2 Entertainment' 'Kando Games' 'Just Flight'
 'Office Create' 'Mamba Games' 'Fields' 'Princess Soft'
 'Maximum Family Games' 'Berkeley' 'Fuji' 'Dusenberry Martin Racing'
 'imageepoch Inc.' 'Big Fish Games' 'Her Interactive' 'Kamui' 'ASK'
 'Headup Games' 'KSS' 'Cygames' 'KID' 'Quinrose' 'Sunflowers'
 'dramatic create' 'TGL' 'Encore' 'Extreme Entertainment Group'
 'Intergrow' 'G.Rev' 'Sweets' 'Kokopeli Digital Studios' 'Number None'
 'Nexon' 'id Software' 'BushiRoad' 'Tryfirst' 'Strategy First' '7G//AMES'
 'GN Software' "Yuke's" 'Easy Interactive' 'Licensed 4U'
 'FuRyu Corporation' 'Lexicon Entertainment' 'Paon Corporation'
 'Kids Station' 'GOA' 'Graphsim Entertainment' 'King Records'
 'Introversion Software' 'Minato Station' 'Devolver Digital' 'Blue Byte'
 'Gaga' 'Yamasa Entertainment' 'Plenty' 'Views' 'fonfun' 'NetRevo'
 'Codemasters Online' 'Quintet' 'Phoenix Games' 'Dorart' 'Marvelous Games'
 'Focus Multimedia' 'Imageworks' 'Karin Entertainment' 'Aerosoft'
 'Technos Japan Corporation' 'Gakken' 'Mirai Shounen' 'Datam Polystar'
 'Saurus' 'HuneX' 'Revolution (Japan)' 'Giza10' 'Visco' 'Alvion' 'Mycom'
 'Giga' 'Warashi' 'System Soft' 'Sold Out' 'Lighthouse Interactive'
 'Masque Publishing' 'RED Entertainment' 'Michaelsoft'
 'Media Entertainment' 'New World Computing' 'Genterprise'
 'Interworks Unlimited, Inc.' 'Boost On' 'Stainless Games'
 'EON Digital Entertainment' 'Epic Games' 'Naxat Soft'
 'Ascaron Entertainment' 'Piacci' 'Nitroplus' 'Paradox Development'
 'Otomate' 'Ongakukan' 'Commseed' 'Inti Creates' 'Takuyo'
 'Interchannel-Holon' 'Rain Games' 'UIG Entertainment']

In [12]:
# Find games with Unknown publisher
print(game_sales[game_sales['Publisher']=='Unknown'])

        Rank                                               Name Platform  \
940      942                    Gran Turismo Concept 2001 Tokyo      PS2
1649    1651                                NASCAR Thunder 2003      PS2
2114    2116                                       Suikoden III      PS2
2173    2175                                   Wheel of Fortune      PS2
2236    2238                       Teenage Mutant Ninja Turtles      GBA
...      ...                                                ...      ...
16460  16463     Horse Life 4: My Horse, My Friend, My Champion      3DS
16493  16496                                         The Smurfs      3DS
16532  16535                            STORM: Frontline Nation       PC
16545  16548  The Treasures of Mystery Island 3 Pack - Save ...       PC
16581  16584                                          Fit & Fun      Wii

         Year         Genre Publisher  NA_Sales  EU_Sales  JP_Sales  \
940    2001.0        Racing   Unknown      0.00      1.10      0.42
1649      NaN        Racing   Unknown      0.60      0.46      0.00
2114      NaN  Role-Playing   Unknown      0.29      0.23      0.38
2173      NaN          Misc   Unknown      0.47      0.36      0.00
2236   2003.0        Action   Unknown      0.67      0.25      0.00
...       ...           ...       ...       ...       ...       ...
16460  2015.0        Action   Unknown      0.00      0.01      0.00
16493     NaN        Action   Unknown      0.00      0.01      0.00
16532  2011.0      Strategy   Unknown      0.00      0.01      0.00
16545  2011.0        Puzzle   Unknown      0.01      0.00      0.00
16581  2011.0        Sports   Unknown      0.00      0.01      0.00

       Other_Sales  Global_Sales
940           0.33          1.84
1649          0.16          1.22
2114          0.08          0.98
2173          0.12          0.95
2236          0.02          0.93
...            ...           ...
16460         0.00          0.01
16493         0.00          0.01
16532         0.00          0.01
16545         0.00          0.01
16581         0.00          0.01

[203 rows x 11 columns]

In [13]:
# Cleaning up missing values
clean_df1 = game_sales.dropna()
print(clean_df1)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16291 rows x 11 columns]

In [14]:
# Check to see if "Unknown" is still under publishers
print(clean_df1[clean_df1['Publisher'] == 'Unknown'])

        Rank                                               Name Platform  \
940      942                    Gran Turismo Concept 2001 Tokyo      PS2
2236    2238                       Teenage Mutant Ninja Turtles      GBA
2328    2330                                  Blitz: The League      PS2
2491    2493                                   The Game of Life       PS
2544    2546                               Final Fantasy Type-0      PSP
...      ...                                                ...      ...
16424  16427                    Real Crimes: The Unicorn Killer       DS
16460  16463     Horse Life 4: My Horse, My Friend, My Champion      3DS
16532  16535                            STORM: Frontline Nation       PC
16545  16548  The Treasures of Mystery Island 3 Pack - Save ...       PC
16581  16584                                          Fit & Fun      Wii

         Year         Genre Publisher  NA_Sales  EU_Sales  JP_Sales  \
940    2001.0        Racing   Unknown      0.00      1.10      0.42
2236   2003.0        Action   Unknown      0.67      0.25      0.00
2328   2005.0        Sports   Unknown      0.74      0.03      0.00
2491   1998.0          Misc   Unknown      0.46      0.31      0.00
2544   2011.0  Role-Playing   Unknown      0.00      0.00      0.81
...       ...           ...       ...       ...       ...       ...
16424  2011.0        Puzzle   Unknown      0.00      0.01      0.00
16460  2015.0        Action   Unknown      0.00      0.01      0.00
16532  2011.0      Strategy   Unknown      0.00      0.01      0.00
16545  2011.0        Puzzle   Unknown      0.01      0.00      0.00
16581  2011.0        Sports   Unknown      0.00      0.01      0.00

       Other_Sales  Global_Sales
940           0.33          1.84
2236          0.02          0.93
2328          0.12          0.89
2491          0.05          0.83
2544          0.00          0.81
...            ...           ...
16424         0.00          0.01
16460         0.00          0.01
16532         0.00          0.01
16545         0.00          0.01
16581         0.00          0.01

[100 rows x 11 columns]

In [15]:
# Removing "Unknown" publishers
clean_df1 = clean_df1[clean_df1['Publisher'] != 'Unknown']
# Check to confirm "Unknown" is gone
print(clean_df1[clean_df1['Publisher'] == 'Unknown'])

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [16]:
# Double check that we removed missing values
print(clean_df1.isna().sum())

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [17]:
# Check for duplicate data
duplicates = clean_df1.duplicated().sum()
print(duplicates)

0

In [18]:
df = clean_df1

In [19]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37